*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.jks

# Build outputs for all modules
**/build/
/app/build/
/wear/build/

# APKs and artifacts
*.apk
*.ap_
*.aab

# Compiled files
*.class
*.dex
*.log

# Release artifacts
/app/release/
/wear/release/
